.react-calendar {
  font-family: Open Sans, sans-serif;
  padding: 20px;
  max-width: 100%;
  box-shadow: 0 4px 32px rgba(170, 170, 170, 0.03);
  line-height: 1.125em;
  box-sizing: border-box;
}
.react-calendar * {
  box-sizing: border-box;
}
.react-calendar *:before {
  box-sizing: border-box;
}
.react-calendar *:after {
  box-sizing: border-box;
}
.react-calendar button {
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar__navigation {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.react-calendar__navigation button {
  background: none;
}
.react-calendar__navigation > :nth-child(2) {
  order: 1;
  pointer-events: none;
  text-align: left;
  font-size: 18px;
}
.react-calendar__navigation > :nth-child(1) {
  order: 2;
  margin-left: auto;
  padding: 0 8px;
}
.react-calendar__navigation > :nth-child(1):focus {
  outline: none;
}
.react-calendar__navigation > :nth-child(1):active {
  transform: scale(0.8);
}
.react-calendar__navigation > :nth-child(3) {
  order: 3;
  padding: 0 8px;
}
.react-calendar__navigation > :nth-child(3):focus {
  outline: none;
}
.react-calendar__navigation > :nth-child(3):active {
  transform: scale(0.8);
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600 !important;
  font-size: 14px;
}
.react-calendar__month-view__weekdays__weekday {
  margin-bottom: 1.25rem;
}
.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none !important;
  cursor: default !important;
  color: rgba(0, 123, 255, 0.64);
}
.react-calendar__month-view__weekNumbers {
  font-weight: bold;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}
.react-calendar__month-view__days__day {
  font-size: 14px;
  margin-top: 5px;
}
.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__decade-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 0.9em 0.1em;
  background: none;
  transition: 0.2s border-radius;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:focus {
  outline: none;
}
.react-calendar__tile:enabled:hover {
  background-color: rgba(0, 123, 255, 0.64);
}
.react-calendar__tile:enabled:focus {
  background-color: rgba(0, 123, 255, 0.64);
}
.react-calendar__tile--rangeStart {
  background: rgba(0, 123, 255, 0.64) !important;
}
.react-calendar__tile--rangeEnd {
  background: rgba(0, 123, 255, 0.64) !important;
}
.react-calendar__tile--hasActive {
  background: rgba(0, 123, 255, 0.64);
}
.react-calendar__tile--now {
  background-color: rgba(0, 123, 255, 0.64);
}
.react-calendar__tile--active {
  background: rgba(0, 123, 255, 0.16);
}
.react-calendar__tile--active:enabled:hover {
  background: rgba(0, 123, 255, 0.64);
}
.react-calendar__tile--active:enabled:focus {
  background: rgba(0, 123, 255, 0.64);
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: rgba(0, 123, 255, 0.16);
}
