$c-gray-light-extra: #e8ecef;
$c-white: #fff;
$c-gray-light: #98a9bc;
$c-blue-light: #499db7;

$cursor-size: 19px;
$transition-duration: 0.2s;

.switcher {
  display: inline-flex;
  align-items: center;
  background-color: $c-gray-light-extra;
  border-radius: 38px;
  padding: 6px 0.5rem;
  height: 1.6rem;
  color: $c-white;
  width: 50px;
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  transition: background-color $transition-duration;
  margin-bottom: 0;

  .cursor {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: $c-gray-light;
    box-shadow: 0 0 8px rgba(56, 0, 107, 0.16);
    width: $cursor-size;
    height: $cursor-size;
    border-radius: 50%;
    transition-timing-function: ease-in-out;
    transition-duration: $transition-duration;
    transition-property: left, background-color;
    left: 4px;
  }

  &.isOn {
    background-color: $c-blue-light;
    .cursor {
      left: calc(100% - #{$cursor-size} - 4px);
      background-color: $c-white;
    }
  }
}

.nativeInput {
  position: absolute;
  appearance: none;
}
